node_modules/
# Compiled output
samplestore/dist
samplestore/tmp
samplestore/out-tsc
samplestore/bazel-out

# Node
samplestore/npm-debug.log
samplestore/yarn-error.log

# IDEs and editors
samplestore/.idea/
samplestore/.project
samplestore/.classpath
samplestore/.c9/
samplestore/*.launch
samplestore/.settings/
samplestore/*.sublime-workspace

# Visual Studio Code
samplestore/.vscode/*
samplestore/!.vscode/settings.json
samplestore/!.vscode/tasks.json
samplestore/!.vscode/launch.json
samplestore/!.vscode/extensions.json
samplestore/.history/*

# Miscellaneous
samplestore/.angular/cache
samplestore/.sass-cache/
samplestore/connect.lock
samplestore/coverage
samplestore/libpeerconnection.log
samplestore/testem.log
samplestore/samplestore/typings

# System files
samplestore/.DS_Store
samplestore/Thumbs.db
