<p>Welcome to the about section.</p>

<!-- <img
  src="/parcel_images/2022-03-07T07:27:25.208Z_Calming Sailors' Club Facebook Post.png"
  alt="Parcel Picture"
/>
<div class="container">
  <div class="mb-3">
    <label for="parcelImage" class="form-label">Parcel Picture</label>
    <br />
    <input
      type="file"
      class="form-control"
      (change)="handleFileInput($event)"
      id="parcelImage"
      #parcelImage
    />
    <div *ngIf="imageUrl">
      <br />
      <hr />
      <br />
      <img [src]="imageUrl" alt="Parcel Picture" />
      <button class="btn btn-primary" (click)="onSubmit()">Upload</button>
      <button class="btn btn-danger ms-4" (click)="onClear(parcelImage)">
        Clear
      </button>
    </div>
  </div>
</div> -->
